<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<form action="/search" method="get">
    <div class="form-item">
        <label for="query"></label>
        <input type="text" name="query" required="required"></input>
    </div>
    <div class="button-panel">
      <input type="submit" class="button" title="submit" value="決定" onclick="location.href='/search'"></input>
    </div>
</form>
</body>
</html>